<div class="container">
  <div id="head" class="row">
    <h1>
      Instagram Angular 2
    </h1>
  </div>
  <div id="body" class="row">
    <div class="col"></div>
    <div class="col-md-8">
      <div id="search" class="row">
        <div class="col-md-12">
          <search></search>
        </div>
      </div>
      <div id="router" class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

<template ngbModalContainer></template>